/********** Template CSS **********/
:root {
    --primary: #0c3824;
    --secondary: #999999;
    --light: #F2F8FE;
    --dark: #111111;
}
.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 60px;
    z-index: 99;
}
h4, h5, h6, h4, h5, h6 {
    font-weight: 500 !important;
}
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}
#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.comp{
   height: auto;
   /* display: flex;
   flex-wrap: wrap-reverse; */
}

.float_img{
    flex:none !important;
    float: left !important;
}

/* .emission_item{
    background-color: #ffffff;
    border-radius: 1rem;;
} */

.white_text{
    color: #F2F8FE;
}

.left_bar{
    border-left: solid 0.2rem #13653f;
    padding-left: 1rem;
    text-align: left;
    color: #333;
}

.partners{
width: 50%;
height: fit-content;
/* background-color: RED; */
}


.block{
    display: flex;
    width: fit-content;
    justify-content: space-around;
}

.partners_bg{
    background-color: #FFFFFF;
    border-radius: 1rem;

    height: 3rem;
    padding: .5rem;
    filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.257));
}
/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}
.btn.btn-primary {
    color: #223902;
   
}
.btn-square {
    width: 38px;
    height: 38px;
}
.btn-sm-square {
    width: 32px;
    height: 32px;
}
.btn-lg-square {
    width: 48px;
    height: 48px;
}
.btn-square, .btn-sm-square, .btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}
/*** Navbar ***/
.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}
.navbar .navbar-brand {
    height: 75px;
}
.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: var(--dark);
    font-weight: 500;
    outline: none;
}
.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link.active {
    color: #20a96b;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.green__bar{
  background-color: #f6c629;
  border: solid .2rem#efefef;
    padding-left: 1rem;
    border-radius: 1rem;
    padding: 0.8rem 1.6rem;
    color: #333;
    margin: 1rem 0rem;
}

.flex-item{
    padding: 0.3rem;
}

.white__bar{
    border-left: solid .2rem rgba(195, 195, 195, 0.478);
    padding-left: 1rem;
    text-align: left;
    color: #FFFFFF;

}

.gray_title{
    color: #e1ff39;
    background-color: #ffffff14;
    padding: 0.4rem 0.8rem;
}

.green__round{
    border: solid .2rem coral;
    border-radius: 1rem;
    padding: 1rem;
    line-height: 2rem;
    background-color: #ffffffb3;
    
}
.about_col{
   
   text-align: left;
   justify-content: space-between;
}

.about_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.orange__icon{
color: coral;
font-size: 33px;
float: left;
padding: .3rem;

}

.yellow__icon{
    color: #f6c629;
    font-size: 33px;
    float: left;
    padding: .3rem;
    
    }

.left_btn{
    float: left;
    
}

.why_block{
   margin: 1rem 0rem ;
    display: flex;
    justify-content: space-between;
}

nav .navbar-collapse.show + .nav__obj .btn {
  display: none;
}

nav .navbar-collapse.show + .nav__obj {
    position: absolute;
    top: 18px;
    right: 18px;
  }

  /* @media screen and (min-width: 768px) and (max-width: 979px) {
  .container-fluid .container .row .col-lg-6 .hero__img {
        display: none;
    }
} */

@media screen and (max-width: 768px) {

    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
   }
    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
   }
}

@media screen and (max-width: 767px) {
    .hero__img_small_wrapper {
        display: none !important;
    }
}

@media screen and (max-width: 991px) {
    #hero-image-container {
        display: none !important;
    }

    .hero-header {
        overflow: visible;
    }

    .container {
        overflow: visible;
    }

    .hero__img_small_wrapper {
        position: relative;
        width: 100vw;
        display: flex;
        justify-content: center;
    }


    .a2{
        text-decoration: underline;

    }
    .nav-item {
        flex: none;
        
    }

    .head__top .btn {
        display: flex;
    }

    .hero__img_small {
        display: block !important;
        width: 250px;
        position: absolute;
        bottom: -160px;
        height: auto;;
    }
}

@media (min-width: 992px) {

    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 10%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
   }
    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
   }
}

.navbar .btn:hover {
    color: #FFFFFF !important;
    background: var(--primary) !important;
}

.nav__bnt{
    color: #FFFFFF;
    background-color: #13653f;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-shadow: #0e492e;
}
/*** Header ***/

.head__icons{
    color:white;
    font-size: 33px;
    margin: 1rem;
}

.head__top{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;

}


.hero-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--secondary);
    
}
.logo__type{
    color: #74de2e;
}
.logo__img{
    width: 45px;
}

.hero__img_small {
    display: none;;
}

.hero__img {
   top: 10rem;
   height: 25rem;
   z-index: -1;
   display: block;
   left: 1rem;
   float: right;
}
/*** Service ***/



.donut-chart {
    position: relative;
      width: 200px;
    height: 200px;
      margin: 0 auto 2rem;
      border-radius: 100%
   }
  p.center {
    background: #fff;
    position: absolute;
    text-align: center;
  font-size: 28px;
    top:0;left:0;bottom:0;right:0;
    width: 130px;
    height: 130px;
    margin: auto;
    border-radius: 50%;
    line-height: 35px;
    padding: 15% 0 0;
  }
      
      
  .portion-block {
      border-radius: 50%;
      clip: rect(0px, 200px, 200px, 100px);
      height: 100%;
      position: absolute;
      width: 100%;
    }
  .circle {
      border-radius: 50%;
      clip: rect(0px, 100px, 200px, 0px);
      height: 100%;
      position: absolute;
      width: 100%;
      font-family: monospace;
      font-size: 1.5rem;
    }
      
    .red__color{
        color: #E64C65;
        font-weight: bold;
    
    }
    
    .blue__color{
        color: #4FC4F6;
        font-weight: bold;
        
    }

    .green__color{
        color: #11A8AB;
        font-weight: bold;
        
    }
  #part1 {
      transform: rotate(0deg);
    }
  
      #part1 .circle {
          background-color: #E64C65;
          transform: rotate(76deg);
          animation: first 1s 1 forwards;
        }
      
      
  #part2 {
      transform: rotate(100deg);
    }
  #part2 .circle {
      background-color: #11A8AB;
      
      animation: second 1s 1 forwards 1s;
    }
  #part3 {
      transform: rotate(250deg);
  }
      #part3 .circle {
          background-color: #4FC4F6;
          animation: third 0.5s 1 forwards 2s;
      }
      
      
  /* Animation */
  @keyframes first {
      from {transform: rotate(0deg);}
      to {transform: rotate(100deg);}
  }
      
  @keyframes second {
      from {transform: rotate(0deg);}
      to {transform: rotate(150deg);}
  }
      
  @keyframes third {
      from {transform: rotate(0deg);}
      to {transform: rotate(111deg);}
  }

.service-item {
    position: relative;
    overflow: hidden;
}
.service-item::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: -80px;
    right: -80px;
    border: 80px solid;
    transform: rotate(45deg);
    opacity: 1;
    transition: .5s;
}
.service-item.bg-white::after {
    border-color: transparent transparent var(--light) transparent;
}
.service-item.bg-light::after {
    border-color: transparent transparent #FFFFFF transparent;
}
.service-item:hover::after {
    opacity: 0;
}
/*** Roadmap ***/
.roadmap-carousel {
    position: relative;
}
.roadmap-carousel::before {
    position: absolute;
    content: "";
    height: 0;
    width: 100%;
    top: 20px;
    left: 0;
    border-top: 2px dashed var(--secondary);
}
.roadmap-carousel .roadmap-item .roadmap-point {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 6px;
    left: 50%;
    margin-left: -15px;
    background: #FFFFFF;
    border: 2px solid var(--primary);
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.roadmap-carousel .roadmap-item .roadmap-point span {
    display: block;
    width: 18px;
    height: 18px;
    background: var(--primary);
}
.roadmap-carousel .roadmap-item {
    position: relative;
    padding-top: 150px;
    text-align: center;
}
.roadmap-carousel .roadmap-item::before {
    position: absolute;
    content: "";
    width: 0;
    height: 115px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-right: 2px dashed var(--secondary);
}
.roadmap-carousel .roadmap-item::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    top: 111px;
    left: 50%;
    margin-left: -7px;
    transform: rotate(45deg);
    background: var(--primary);
}
.roadmap-carousel .owl-nav {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.roadmap-carousel .owl-nav .owl-prev, .roadmap-carousel .owl-nav .owl-next {
    margin: 0 12px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 22px;
    color: var(--light);
    background: var(--primary);
    transition: .5s;
}
.roadmap-carousel .owl-nav .owl-prev:hover, .roadmap-carousel .owl-nav .owl-next:hover {
    color: var(--primary);
    background: var(--dark);
}
/*** FAQs ***/
.accordion .accordion-item {
    border: none;
    margin-bottom: 15px;
}
.accordion .accordion-button {
    background: var(--light);
    border-radius: 2px;
}
.accordion .accordion-button:not(.collapsed) {
    color: #FFFFFF;
    background: var(--primary);
    box-shadow: none;
}
.accordion .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion .accordion-body {
    padding: 15px 0 0 0;
}


/*** Footer ***/
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--secondary);
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}
.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--secondary);
    margin-right: 10px;
}
.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}
.footer .btn.btn-square {
    color: var(--primary);
    border: 1px solid var(--primary);
}
.footer .btn.btn-square:hover {
    color: #FFFFFF;
    background: var(--primary);
}
.footer .copyright {
    padding: 25px 0;
    border-top: 1px solid rgba(17, 17, 17, .1);
}
.footer .copyright a {
    color: var(--primary);
}
.footer .copyright a:hover {
    color: var(--dark);
}
.title{
    color: #EEEEEE;
    text-align: center;
    margin-bottom: 2rem;
}

.partners_left{
    display: flex;

}


.flex2-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .flex2-item {
    width: 50%; /* Каждый элемент будет занимать половину ширины контейнера */
    text-align: center;
   
    box-sizing: border-box; /* Учтем отступы внутри элементов */
  }

  .flex2-item {
    width: 20%; /* Каждый элемент будет занимать половину ширины контейнера */
    text-align: center;
   padding: 1rem;
    box-sizing: border-box; /* Учтем отступы внутри элементов */
  }

  
  
  .flex2-item img {
    max-width: 100%; 
    display: block; 
  }

  .p_center
  {text-align: center;}

  footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px 1rem; 
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto;
}

.footer-logo img {
    max-width: 100px; 
}

.footer-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-menu li {
    margin-right: 20px;
}

.footer-menu a {
    color: #fff; /* Цвет текста в ссылках */
    text-decoration: none;
}

.footer-menu a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}


.social-icons {
    display: flex;
    justify-content: space-around; /* Равномерное распределение иконок */
}

.social-icon {
  
    text-align: center; 
    font-size: 3rem; 
    font-weight: lighter; 
    color: #FFFFFF;
}

.social-icon_img {
    width: 100%;
    height: 100%; 
    max-width: 400px; /* Максимальная ширина иконки (по вашему выбору) */
    max-height: 400px; /* Максимальная высота иконки (по вашему выбору) */
}


.tokens_center{
    text-align: center;
}

.bg-light4{
    background-image: url(../png/bg_04.png);
    background-size: cover;
    background-position: center;

}
